Django==6.1
djangorestframework==3.18.0
django-environ==0.14.0
django-cors-headers==4.9.0
django-storages==1.14.6
boto3==1.43.69
psycopg2-binary==2.9.12
drf-spectacular==0.30.0
gunicorn==23.0.0
whitenoise==6.12.0
